✍ Ранее в курсе мы познакомились с основами SQL (язык запросов к базам данных) и Python (язык программирования). Возможно, у вас возникал вопрос: можно ли объединить два этих механизма? Можно ли работать с базами данных и выполнять SQL-запросы средствами Python? И если можно, то как это сделать?

**В курсе для удобства работы с данными мы использовали Metabase. Однако Metabase — это не сама база данных, а BI-инструмент, то есть удобный интерфейс для взаимодействия с данными, которые хранятся в БД, построения отчётов и графиков. Всё это время наши данные хранились под управлением СУБД PostgreSQL, а обращались мы к ним через запросы в Metabase.**

В реальной деятельности дата-сайентисту требуется не только писать запрос к данным, но и затем обрабатывать его результаты с помощью Python. Для решения таких задач требуется некоторое средство, которое будет связывать Python и PostgreSQL так, чтобы мы могли с помощью Python отправлять запросы в Postgres и принимать оттуда результаты.

Именно таким средством является пакет **psycopg2**, о котором мы сейчас и поговорим.

**Установка psycopg2**

Установить данный пакет на любой платформе можно одним способом — с помощью pip.

Запустите в отдельной ячейке Jupyter Notebook следующий код:

Цифры могут отличаться, так как пакеты развиваются и номер их версии увеличивается.

Теперь посмотрим, как можно подключиться к нашей базе и выполнять запросы из Jupyter-ноутбука.

**Для подключения нам потребуются следующие данные:**

* dbname — название базы, к которой нужно подключиться;
* user — имя пользователя в СУБД;
* password — пароль;
* host — адрес, по которому нужно подключиться;
* port — порт, к которому нужно подключиться (по умолчанию равен 5432).

Для нашей базы эти параметры такие:

In [3]:
!pip install psycopg2

Collecting psycopg2
  Downloading psycopg2-2.9.10-cp311-cp311-win_amd64.whl.metadata (5.0 kB)
Downloading psycopg2-2.9.10-cp311-cp311-win_amd64.whl (1.2 MB)
   ---------------------------------------- 0.0/1.2 MB ? eta -:--:--
   --------- ------------------------------ 0.3/1.2 MB ? eta -:--:--
   ------------------ --------------------- 0.5/1.2 MB 1.7 MB/s eta 0:00:01
   --------------------------- ------------ 0.8/1.2 MB 1.7 MB/s eta 0:00:01
   ------------------------------------ --- 1.0/1.2 MB 1.7 MB/s eta 0:00:01
   ------------------------------------ --- 1.0/1.2 MB 1.7 MB/s eta 0:00:01
   ---------------------------------------- 1.2/1.2 MB 977.9 kB/s eta 0:00:00
Installing collected packages: psycopg2
Successfully installed psycopg2-2.9.10

[notice] A new release of pip is available: 24.3 -> 24.3.1
[notice] To update, run: python.exe -m pip install --upgrade pip

In [4]:
#Импорт библиотек
import pandas as pd
import psycopg2

In [2]:
# хороший тон при фиксации изменений в github не публиковать код с открытыми данными для входа
# для запуска кода поместите данные, которые указаны на странице курса в эту ячейку
# при размещении в github удалите эту ячейку

In [9]:
# Создаем соединение с заданными параметрами
connection = psycopg2.connect(
    dbname=DBNAME,
    user=USER,
    host=HOST,
    password=PASSWORD,
    port=PORT
)

In [10]:
# Запрос

# код запроса представляет из себя строковую переменную
n = 10
query = f'''select * 
            from sql.pokemon 
            limit {n}
         '''
# лучше использовать f-строки - так удобнее передавать параметры

### Выполнение запроса

In [11]:
# используем метод read_sql_query, чтобы получить результаты запроса сразу в виде датафрейма
df = pd.read_sql_query(query, connection)
df

C:\Users\roman\AppData\Local\Temp\ipykernel_13724\2473184231.py:2: UserWarning: pandas only supports SQLAlchemy connectable (engine/connection) or database string URI or sqlite3 DBAPI2 connection. Other DBAPI2 objects are not tested. Please consider using SQLAlchemy.
  df = pd.read_sql_query(query, connection)

   id                       name  type1   type2  hp  attack  defense  speed
0   1                  Bulbasaur  Grass  Poison  45      49       49     45
1   2                    Ivysaur  Grass  Poison  60      62       63     60
2   3                   Venusaur  Grass  Poison  80      82       83     80
3   4      VenusaurMega Venusaur  Grass  Poison  80     100      123     80
4   7                  Charizard   Fire  Flying  78      84       78    100
5   8  CharizardMega Charizard X   Fire  Dragon  78     130      111    100
6   9  CharizardMega Charizard Y   Fire  Flying  78     104       78    100
7  16                 Butterfree    Bug  Flying  60      45       50     70
8  17                     Weedle    Bug  Poison  40      35       30     50
9  18                     Kakuna    Bug  Poison  45      25       50     35

### Финал

In [12]:
# не забываем закрыть соединение после окончания работы
connection.close()